<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/header.html :: head" />

<body>

	<th:block th:insert="fragments/navBar.html :: navbar" />

	<div class="container mt-3">
		<form th:action="@{/login}" method="post">
			<div class="form-group row">
				<label for="login" class="col-sm-2 col-form-label">Login</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="login" name="login"
						placeholder="login">
				</div>
			</div>
			<div class="form-group row">
				<label for="password" class="col-sm-2 col-form-label">Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="password"
						name="password" placeholder="password">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">RememberMe</div>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="rememberMe" name="rememberme">
						<label class="form-check-label" for="rememberMe">
							RememberMe </label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Sign in</button>
				</div>
			</div>
		</form>
	</div>



</body>
</html>